@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #9793ff;
  --primary-black: #24272C;
  --btn-color: #7773fd;
}

body {
  width: 100%;
  height: 100%;
  font-family: 'Poppins', sans-serif;
}

.customflex {
  display: flex;
  justify-content: center;
  align-items: center;
}
